# Backend
PORT=4000
MONGO_URI=mongodb://mongo:27017/cms_assignment
JWT_SECRET=change_this_secret
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Password123!

# Public frontend
PUBLIC_API_URL=http://localhost:4000/api/v1

# Admin frontend
ADMIN_API_URL=http://localhost:4000/api/v1
